@import "reset";

$nogc-color: crimson;
$gc-color: teal;
$arc-color: goldenrod;

body {
	animation: fader 1s;

	@keyframes fader {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

}


.home {

	.wrapper {
		margin: 0 auto;
		width: 80%;
		max-width: 1000px;
	}

	ul {
		list-style: none;

		li {

			a {
				text-decoration: none;
				border-bottom: 3px solid darkorange;
				color: darkorange;
				padding: 5px;
				transition: all 500ms;

				&:hover {
					background-color: complement(darkorange);
					padding: 20px 20px 20px 0;
					font-size: 2rem;
				}
			}
		}
	}
}

.table-controls {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 20%;
	background-color: black;


	button {
		color: white;
		background-color: black;
		font-size: 1.2rem;
		border: none;
		border-bottom: white 1px solid;
		width: 100%;
		padding: 20px 5px;
		transition: color 500ms, background-color 1s;

		&:hover {
			background-color: white;
			color: black;
		}
	}

	input[type="text"] {
		width: 100%;
		padding: 10px;
	}
}

.lang-table {
	padding: 10px;
	width: 80%;
	position: absolute;
	right: 0;
	background-color: lightgrey;
	min-height: 100vh;

	.grid {

		.tile {
			width: calc(20% - 20px);
			padding: 20px;
			margin: 10px;
			background: blue;
			border-radius: 5px;

			@media all and (max-width: 900px) {
				width: calc(100% - 20px);
			}

			&:hover {
				box-shadow: 1px 1px 3px black;
			}

			&.nogc {
				background-color: $nogc-color;
				color: complement($nogc-color);

			}

			&.gc {
				background-color: $gc-color;
				color: complement($gc-color);
			}

			&.arc {
				background-color: $arc-color;
				color: complement($arc-color);
			}

			h3 {
				color: white;
			}

			a {
				text-decoration: none;
				font-weight: bold;
				color: hotpink;
				border-bottom: darkslategrey 3px solid;
				padding: 10px;
				transition: all 1s;

				&:hover {
					background-color: darkslategrey;
				}

				&:visited {
					color: black;
					background-color: dimgrey;
				}
			}
		}

	}

}
