@import "reset";

@mixin bp($size) {
  @if $size == 'desktop' {
    @media all and (min-width: 768px) {
      @content;
    }
  } @else if $size == 'tablet' {
    @media all and (min-width: 480px) {
      @content;
    }
  }
}

body {
	animation: fader 1s;
	font-family: 'Muli', sans-serif;

	@keyframes fader {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

}

.wrapper {
	margin: 0 auto;
	width: 80%;
	max-width: 1000px;
	padding: 20px;
}

.home {

	.banner {
		background-image: url(../images/impossible-geometry-thing-02.png), url(../images/banner-image-sky.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 200px;

		@include bp(tablet) {

		}

		@include bp(desktop) {
			background-repeat: repeat-y;
			background-size: auto;
			position: fixed;
			top: 0;
			left: 0;
			width: 40%;
			height: 100vh;
		}
	}

	.wrapper {
		margin: 0 auto;
		width: 80%;
		max-width: 1000px;
		padding: 20px;

		@include bp(desktop) {
			margin: 0;
			position: relative;
			top: 0;
			left: 40%;
			width: 60%;
			height: 100vh;
		}
	}

	ul {
		list-style: none;

		li {
			a {
				text-decoration: none;
				border-bottom: 3px solid darkorange;
				color: darkorange;
				padding: 5px;
				transition: all 500ms;

				&:hover {
					background-color: complement(darkorange);
					padding: 20px 0;
					// font-size: 1.5rem;
				}
			}
		}
	}
}

.lang-table {

	$nogc-color: crimson;
	$gc-color: teal;
	$arc-color: goldenrod;

	.controls-pane {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 20%;
		background-color: black;

		.hidden-controls {

			display: none;

			.filter-button {
				color: white;
				background-color: black;
				font-size: 1.2rem;
				border: none;
				border-bottom: white 1px solid;
				width: 100%;
				padding: 20px 5px;
				transition: color 500ms, background-color 1s;

				&:hover {
					background-color: white;
					color: black;
				}

			}

			form {
				margin-top: 30px;

				input[type="text"] {
					width: 100%;
					padding: 10px;
				}
			}

			@include bp(tablet) {
				display: block;
			}

			@include bp(desktop) {
				display: block;
			}
		}

		.slide-button, {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 20px;
			color: white;
			background-color: black;

			@include bp(tablet) {
				display: none;
			}

			@include bp(desktop) {
				display: none;
			}
		}

		.search-button {
			position: absolute;
			top: 0;
			left: 0;
			color: white;
			background-color: black;
			padding: 20px;

			@include bp(tablet) {
				display: none;
			}

			@include bp(desktop) {
				display: none;
			}
		}

	}

	.table-pane {
		padding: 10px;
		width: 80%;
		position: absolute;
		right: 0;
		background-color: lightgrey;
		min-height: 100vh;


		.grid {

			.tile {
				width: calc(50% - 20px);
				padding: 20px;
				margin: 10px;
				background: blue;
				border-radius: 5px;

				@include bp(desktop) {
					width: calc(20% - 20px);
				}

				@include bp(tablet) {
					width: calc(25% - 20px);
				}

				&:hover {
					box-shadow: 1px 1px 3px black;
				}

				&.nogc {
					background-color: $nogc-color;
					color: complement($nogc-color);

				}

				&.gc {
					background-color: $gc-color;
					color: complement($gc-color);
				}

				&.arc {
					background-color: $arc-color;
					color: complement($arc-color);
				}

				h3 {
					color: white;
				}

				a {
					text-decoration: none;
					font-weight: bold;
					color: hotpink;
					border-bottom: darkslategrey 3px solid;
					padding: 10px;
					transition: all 1s;

					&:hover {
						background-color: darkslategrey;
					}

					&:visited {
						color: black;
						background-color: dimgrey;
					}
				}
			}

		}

	}
}


.box-breather {

	$big-box-size: 90vw;
	$little-box-size: 10%;

	@include bp(tablet) {
		$big-box-size: 90vh;
		$little-box-size: 10%;
	}

	@include bp(desktop) {
		$big-box-size: 90vh;
		$little-box-size: 10%;
	}

	$edge: calc(100% - #{$little-box-size});

	@keyframes mover {
		0%, 100% {
			top: 0;
			left: 0;
		}
		25% {
			top: 0;
			left: $edge;
		}
		50% {
			top: $edge;
			left: $edge;
		}
		75% {
			top: $edge;
			left: 0;
		}
	}

	@keyframes inhale-prompter {
		0%,  100% {
			opacity: 1;
		}
		25%, 50%, 75% {
			opacity: 0;
		}
	}

	@keyframes exhale-prompter {
		50% {
			opacity: 1;
		}
		75% {
			opacity: 0;
		}
	}

	@keyframes hold-prompter {
		25%, 75% {
			opacity: 1;
		}
		50%, 100% {
			opacity: 0;
		}
	}

	background-color: deepskyblue;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.big-box {
		// padding: $little-box-size;
		width: $big-box-size;
		height: $big-box-size;
		position: relative;
		background-color: cornflowerblue;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.little-box {
		width: $little-box-size;
		height: $little-box-size;
		background-color: teal;
		position: absolute;
		animation: mover 16s linear infinite;
	}

	.prompt {
		color: white;
		font-size: 2rem;

		.inhale {
			animation: inhale-prompter 16s cubic-bezier(1, 0, 1, 0) infinite;
			opacity: 1;
		}

		.exhale {
			animation: exhale-prompter 16s cubic-bezier(1, 0, 1, 0) infinite;
			opacity: 0;
		}

		.hold {
			animation: hold-prompter 16s cubic-bezier(1, 0, 1, 0) infinite;
			opacity: 0;
		}
	}

}

.hexnumbers {

	aside {
		margin: 20px;
		padding: 20px;
		background-color: darkred;
		color: white;
		border-radius: 5px;
	}

	.number-column {
		text-align: right;
		width: 100px;
		font-family: monospace;
		font-size: 1.2rem;
		padding: 20px;
		margin: 20px;
		font-family: 'Source Code Pro', monospace;
	}

	.math-column {
		// width: 200px;
		font-family: monospace;
		font-size: 1.2rem;
		padding: 20px;
		margin: 20px;
		font-family: 'Source Code Pro', monospace;
	}
}
