article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  animation: fader 1s;
  font-family: 'Muli', sans-serif; }
@keyframes fader {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
  padding: 20px; }

.home .banner {
  background-image: url(../images/impossible-geometry-thing-02.png), url(../images/banner-image-sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px; }
  @media all and (min-width: 768px) {
    .home .banner {
      background-repeat: repeat-y;
      background-size: auto;
      position: fixed;
      top: 0;
      left: 0;
      width: 40%;
      height: 100vh; } }
.home .wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
  padding: 20px; }
  @media all and (min-width: 768px) {
    .home .wrapper {
      margin: 0;
      position: relative;
      top: 0;
      left: 40%;
      width: 60%;
      height: 100vh; } }
.home ul {
  list-style: none; }
  .home ul li a {
    text-decoration: none;
    border-bottom: 3px solid darkorange;
    color: darkorange;
    padding: 5px;
    transition: all 500ms; }
    .home ul li a:hover {
      background-color: #0073ff;
      padding: 20px 0; }

.lang-table .controls-pane {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: black; }
  .lang-table .controls-pane .hidden-controls {
    display: none; }
    .lang-table .controls-pane .hidden-controls .filter-button {
      color: white;
      background-color: black;
      font-size: 1.2rem;
      border: none;
      border-bottom: white 1px solid;
      width: 100%;
      padding: 20px 5px;
      transition: color 500ms, background-color 1s; }
      .lang-table .controls-pane .hidden-controls .filter-button:hover {
        background-color: white;
        color: black; }
    .lang-table .controls-pane .hidden-controls form {
      margin-top: 30px; }
      .lang-table .controls-pane .hidden-controls form input[type="text"] {
        width: 100%;
        padding: 10px; }
    @media all and (min-width: 480px) {
      .lang-table .controls-pane .hidden-controls {
        display: block; } }
    @media all and (min-width: 768px) {
      .lang-table .controls-pane .hidden-controls {
        display: block; } }
  .lang-table .controls-pane .slide-button {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: white;
    background-color: black; }
    @media all and (min-width: 480px) {
      .lang-table .controls-pane .slide-button {
        display: none; } }
    @media all and (min-width: 768px) {
      .lang-table .controls-pane .slide-button {
        display: none; } }
  .lang-table .controls-pane .search-button {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: black;
    padding: 20px; }
    @media all and (min-width: 480px) {
      .lang-table .controls-pane .search-button {
        display: none; } }
    @media all and (min-width: 768px) {
      .lang-table .controls-pane .search-button {
        display: none; } }
.lang-table .table-pane {
  padding: 10px;
  width: 80%;
  position: absolute;
  right: 0;
  background-color: lightgrey;
  min-height: 100vh; }
  .lang-table .table-pane .grid .tile {
    width: calc(50% - 20px);
    padding: 20px;
    margin: 10px;
    background: blue;
    border-radius: 5px; }
    @media all and (min-width: 768px) {
      .lang-table .table-pane .grid .tile {
        width: calc(20% - 20px); } }
    @media all and (min-width: 480px) {
      .lang-table .table-pane .grid .tile {
        width: calc(25% - 20px); } }
    .lang-table .table-pane .grid .tile:hover {
      box-shadow: 1px 1px 3px black; }
    .lang-table .table-pane .grid .tile.nogc {
      background-color: crimson;
      color: #14dcb4; }
    .lang-table .table-pane .grid .tile.gc {
      background-color: teal;
      color: maroon; }
    .lang-table .table-pane .grid .tile.arc {
      background-color: goldenrod;
      color: #2055da; }
    .lang-table .table-pane .grid .tile h3 {
      color: white; }
    .lang-table .table-pane .grid .tile a {
      text-decoration: none;
      font-weight: bold;
      color: hotpink;
      border-bottom: darkslategrey 3px solid;
      padding: 10px;
      transition: all 1s; }
      .lang-table .table-pane .grid .tile a:hover {
        background-color: darkslategrey; }
      .lang-table .table-pane .grid .tile a:visited {
        color: black;
        background-color: dimgrey; }

.box-breather {
  background-color: deepskyblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
@keyframes mover {
  0%, 100% {
    top: 0;
    left: 0; }
  25% {
    top: 0;
    left: calc(100% - 10%); }
  50% {
    top: calc(100% - 10%);
    left: calc(100% - 10%); }
  75% {
    top: calc(100% - 10%);
    left: 0; } }
@keyframes inhale-prompter {
  0%,  100% {
    opacity: 1; }
  25%, 50%, 75% {
    opacity: 0; } }
@keyframes exhale-prompter {
  50% {
    opacity: 1; }
  75% {
    opacity: 0; } }
@keyframes hold-prompter {
  25%, 75% {
    opacity: 1; }
  50%, 100% {
    opacity: 0; } }
  .box-breather .big-box {
    width: 90vh;
    height: 90vh;
    position: relative;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center; }
  .box-breather .little-box {
    width: 10%;
    height: 10%;
    background-color: teal;
    position: absolute;
    animation: mover 16s linear infinite; }
  .box-breather .prompt {
    color: white;
    font-size: 2rem; }
    .box-breather .prompt .inhale {
      animation: inhale-prompter 16s cubic-bezier(1, 0, 1, 0) infinite;
      opacity: 1; }
    .box-breather .prompt .exhale {
      animation: exhale-prompter 16s cubic-bezier(1, 0, 1, 0) infinite;
      opacity: 0; }
    .box-breather .prompt .hold {
      animation: hold-prompter 16s cubic-bezier(1, 0, 1, 0) infinite;
      opacity: 0; }

.hexnumbers aside {
  margin: 20px;
  padding: 20px;
  background-color: darkred;
  color: white;
  border-radius: 5px; }
.hexnumbers .math-column, .hexnumbers .number-column {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2rem;
  padding: 20px;
  margin: 20px; }
.hexnumbers .number-column {
  text-align: right;
  width: 100px; }

/*# sourceMappingURL=styles.css.map */
